<div>
    <h2>Current Conditions</h2>
    
    <div class="container">
        <mat-icon>water_drop</mat-icon>
        <div><span class="bold">37°</span> dew point</div>
    
        <mat-icon>cloud</mat-icon>
        <div><span class="bold">0%</span> cloud coverage</div>
    
        <mat-icon>air</mat-icon>
        <div><span class="bold">4 MPH NNE</span> wind</div>
    
        <mat-icon>speed</mat-icon>
        <div><span class="bold">1017 kPa</span> barometric pressure</div>
    
        <mat-icon>brightness_low</mat-icon>
        <div><span class="bold">5</span> UV Index</div>
    </div>

</div>