@import '../widget.scss';

:host {
    @extend .widget;
    background-color: #182037;
    color: #ffffff;

    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 12px;


        .bold {
            font-weight: 600;
        }

    }
}