@import '../widget.scss';

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100%;
    box-sizing: border-box;
    
    @extend .widget;

    div div:last-child {
        border-right: none;
    }
    .forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8px;

        div {
            border-right: 1px solid rgb(255, 255, 255, .25);
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            text-align: center;

            mat-icon {
                height: 42px;
                width: 42px;
                font-size: 42px;
                margin-bottom: 16px;

                &.yellow {
                    color: #ffd95a;
                }

                &.blue {
                    color: #1486f8;
                }
            }

            label {
                display: block;
                margin-bottom: 16px;
            }
        }
    }
}
