header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #182037;
    padding: 16px;
    
    h1, .mat-headline {
        margin-bottom: 0;
    }

    .date {
        text-align: center;
    }
    .clock {
        text-align: right;
    }

}


    