@import '../widget.scss';

$dim-white: rgb(255, 255, 255, .6);

:host {
    @extend .widget;    

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 24px 32px;
        grid-gap: 24px 0px;
        // justify-items: center;
        align-items: end;

        h2 {
            margin-bottom: 0;
        }

        .value {
            grid-row: span 2;
            margin-bottom: 4px;
            text-align: center;
        }

        .mat-display-4 {
            line-height: 56px;
        }

        .mat-title {
            margin-bottom: 8px;
        }

        .icon {            
            grid-row: span 2;
            padding: 0 4px;
            border-radius: 4px;
            height: 24px;
            width: 24px;
            font-size: 24px;
        }
    }
}