<img src="../../../assets/album-art.jpg">

<div fxLayout="column" fxLayoutAlign="center center" class="info">
    <h2>LIFE Worship</h2>
    <h3>Breakthrough</h3>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <button mat-icon-button>
            <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-fab>
            <mat-icon class="big">pause</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>skip_next</mat-icon>
        </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="volume">
        <mat-icon>volume_down</mat-icon>
        <mat-slider fxFlex value="50"></mat-slider>
        <mat-icon>volume_up</mat-icon>
    </div>

    <p>Playing on Family Room Speaker</p>

</div>