@import './app/v2/widget.scss';

html, body {
    padding: 0;
    margin: 0;
}

.page .mat-card {
    background: #2c3556;
}

.page {
    .orange {
        background: #e65100;
    }

    .green {
        background: #2e7d32;
    }

    .red {
        background: #c62828;
    }

    .blue {
        background: #1976d2;
    }

    .purple {
        background: #ab47bc;
    }

    .pink {
        background: #d81b60;
    }
}

html, body {
    max-height: 1920px;
    // overflow: clip;
}

.widget {
    @extend .widget;
}

