<h1 class="title">Paddock Home</h1>

<div fxLayout="column" fxLayoutGap="48px" class="page">

  <div fxLayout="row" fxLayoutGap="24px" class="row1">
    <mat-card fxFlex class="card1">
      <npt-line-chart [data]="outdoorTemperatureGraph$ | async" unit="°" class="green"></npt-line-chart>
      <h3>Outdoor Temperature</h3>
      <h1 class="mat-display-3 current-value">{{ outdoorTemperature$ | async }}°</h1>
      <p>{{ hourlySummary$ | async }}</p>
    </mat-card>

    <mat-card fxFlex class="card2">
      <npt-forecast [forecast]="forecast$ | async" class="blue"></npt-forecast>
      <h3>Forecast</h3>
      <p class="wide">{{ dailySummary$ | async }}</p>
    </mat-card>

    <mat-card fxFlex class="card3">
      <npt-line-chart [data]="powerGraphData$ | async" unit="W" class="red"></npt-line-chart>
      <h3>Power Usage</h3>
      <h1 class="mat-display-3 current-value">{{ currentPowerUsage$ | async }}W</h1>
      <p>Used {{ dailyEnergyUsage$ | async }} kWh today</p>
      <p>Used {{ monthlyEnergyUsage$ | async }} kWh this month</p>
    </mat-card>
  </div>


  <div fxLayout="row" fxLayoutGap="24px" class="row2">
    <mat-card fxFlex="20%">
      <div class="badge blue">
        <mat-icon>home</mat-icon>
      </div>
      <h4>Indoor Temperature</h4>
      <h1>{{ indoorTemperature$ | async }}°</h1>
      <hr>
      <p>{{ thermostatStatus$ | async }}</p>
    </mat-card>
    <mat-card fxFlex="30%">
      <div class="badge orange">
        <mat-icon>drive_eta</mat-icon>
      </div>

      <h4>Garage Door</h4>
      <h1>{{ garageDoor$ | async }}</h1>
      <mat-icon *ngIf="drivewayLights$ | async" class="bulb">emoji_objects</mat-icon>
      <hr>
      <p>{{ garageDoor$ | async }} since {{ garageDoorLastChangeDate$ | async }}</p>

    </mat-card>
    <mat-card fxFlex="30%">
      <div class="badge red">
        <mat-icon>music_note</mat-icon>
      </div>
      <div *ngIf="(mediaTitle$ | async); else no_music">
        <h4>{{ mediaArtist$ | async }}</h4>
        <h1>{{ mediaTitle$ | async }}</h1>
        <hr>
        <p *ngIf="mediaPlayer$ | async as mediaPlayer">Playing on {{ mediaPlayer }}</p>
      </div>
      <ng-template #no_music>
        <mat-icon *ngIf="!(mediaTitle$ | async)" class="no-music">volume_off</mat-icon>
      </ng-template>


    </mat-card>
    <mat-card fxFlex="20%">
      <div class="badge green">
        <mat-icon>local_florist</mat-icon>
      </div>
      <ng-container *ngIf="sprinkler$ | async as sprinkler">
      <h4>{{ sprinkler.label }}</h4>
      <h1>{{ sprinkler.value }}</h1>
      <hr>
      <p>{{ sprinkler.subtext }}</p>
    </ng-container>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutGap="24px" class="row3">
    <mat-card>
      <h2 class="banner pink">Schedule - {{ today$ | async }}</h2>

      <table mat-table [dataSource]="appointments$ | async">
        <ng-container matColumnDef="day-color">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="column0" [ngClass]="element.dayColor"></td>
        </ng-container>

        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element" class="column1">{{ element.day }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let element">{{ element.time }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Event</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="apptColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: apptColumns;"></tr>
      </table>

    </mat-card>

    <mat-card>
      <h2 class="banner orange">Boy's Room</h2>
      <div class="picture-box">
        <img *ngIf="camera1$ | async as src" [src]="src" width="450" height="253" />
        <img *ngIf="camera2$ | async as src" [src]="src" width="462" height="255"/>
    </div>
    </mat-card>
  </div>
</div>